<html
        xmlns:th="http://thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">

<head>
  <title>Kontakt</title>
</head>

<body>
<section layout:fragment="body" class="container py-3 mmb-5">

  <p class="h4 pt-5">Více inforamací o mě najdete na <a class="text-decoration-none text-black h1" href="https://www.linkedin.com/in/ivan-karp%C3%AD%C5%A1ek-87830826a/">LinkedIn</a></p>
  <p></br></p>
  <p class="h4">V případě zájmu mě můžete kontaktovat na <a class="text-decoration-none text-black h1" href="mailto: karpisek.ivan@gmail.com">karpisek.ivan@gmail.com</a></p>

</section>
</body>
</html>