<html
        xmlns:th="http://thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">

<head>
    <title>Editace Pojištění</title>
</head>

<body>
    <section layout:fragment="body" class="container py-3 mmb-5">
        <form role="form" method="post" th:action="@{/insuredPersons/{ipId}/insurances/{insuranceId}/edit(access=${access}, ipId=${ipId}, insuranceId=${insuranceId})}" th:object="${insuranceForm}">
            <div th:replace="~{fragments/forms :: insuranceForm}"></div>
        </form>
    </section>
</body>
</html>